<!--<div class="col-md-12 About1Background">
    <div class="AboutSA">
        <br />
       <h1>About</h1>
        
        <hr />
       <br />
           <h3>
               TrekClub is a school project intented to display the developers' skills in the group. We take credit for the layout and functionality, but do not take credit for the information provided. We have gathered this information from various websites, namely the Washington Trails Association website, and are using it for demo purposes only. Additionally, some information on our website may be incorrect or incomplete, and should not be used as a guide for planning purposes or advice. 
               <br />
               <br />
               Washington Trails Association Website:
               <br />
               www.wta.org
               <br />
               <br />
               -Sincerely the TrekClub team. 
           </h3>
        
        <br />
      
        <hr />
        <br />
      
        </h5>
       
    </div>
</div>-->

<div class="About1Background">

<div id="header">
    
</div>

    <!--  -->

<div>
    <h1 id="about-who">Who We Are....</h1>
    <br />

    <h4 id="about-p">
        TrekClub is a school project intented to display the developers' skills in the group. We take credit for the layout and functionality, but do not take credit for the information provided. We have gathered this information from various websites, namely the Washington Trails Association website, and are using it for demo purposes only. Additionally, some information on our website may be incorrect or incomplete, and should not be used as a guide for planning purposes or advice.
        <br />
        <br />
  
    </h4>

</div>

<div id="aside">

    <img src="../../images/aboutpagepics/laptop.jpg" style="background-size:cover;background-position:inherit;background-repeat:no-repeat"width="100%"/>


</div>

    </div>