<div class="col-md-12 Homepage">

    <div id="home-searchpic">
        <div id="home-searchTool">
             <!--h2>hello there sailor</h2>-->
        </div>
    </div>



</div>
<div class="bottomdiv">

    <div class="row">
        <div class="col-sm-12" id="upperhome1">
            <h2 id="aboutus"></h2>
            <div id="buttons" class="row">
                <!--class="col-md-8 col-lg-offset-2"-->

                <div class="col-sm-3">
                    <a href="/treks">
                        <div class="Links" id="home-buttonpic2">
                            <span class="contain" id="home-button2"><strong>Treks</strong></span>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3">
                    <a href="/trails">
                        <div class="Links" id="home-buttonpic3">
                            <span class="contain" id="home-button3"><strong>Browse Hikes</strong></span>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3">
                    <a href="/blogs">
                        <div class="Links" id="home-buttonpic4">
                            <span class="contain" id="home-button4"><strong>Forums</strong></span>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3">
                    <a href="https://www.rei.com/">
                        <div class="Links" id="home-buttonpic1">
                            <span class="contain" id="home-button1"><strong>Find gear</strong></span>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div id="bottomhome1" class="col-sm-12">
            <div class="home-info">


            </div>
        </div>
    </div>





</div>

