<h1>Animation Home Page</h1>

<div class="outer">
    <i class="fa fa-times homeCloseBtn1" ng-class="targetBtn" ng-click="target=''; targetBtn='';"></i>
    <div class="sectionContainer" ng-class="target">
        <!--<div class="sectionCloseBtn" ng-class="targetBtn" ng-click="target=''; targetBtn='';">
            <p>X</p>
        </div>-->
        <div class="sectionHeaderContainer" ng-click="targetBtn='changeBtn';target='change'; ">
            <div class="sectionHeader">
                <p>Trails</p>
            </div>
            <div class="sectionBody">
                <!--<h3> Body </h3>-->
            </div>
        </div>
    </div>
</div>