<div class="container-fluid">
    <div class="col-md-12 home1SA">
        <!--<p>
            <input type="button" value="set" ng-click="myCssVar='css-class'">

            <br>
            <span ng-class="myCssVar">CSS-Animated Text</span>
        </p>-->
        <!--<input type="button" value="clear" ng-click="target=''">-->
        <div class="col-md-12 whiteCover">
            <div class="TitleHome">
                <h1>TrekClub</h1>

            </div>
            <div id="main-circle">
                <div class="content">

                </div>
            </div>

            <div class="out">
                <div class="outBtn">
                    <i class="fa fa-times homeCloseBtn" ng-class="close" aria-hidden="true" ng-click="target=''; close=''" uib-tooltip='Close'></i>
                </div>
                <div id="sid-trails" class="section" ng-class="target" data-link="http://google.com" ng-click="target='css-class'; close='closeBtn'">
                    <div class="section-header" >
                        <p> Trails </p>
                    </div>
                </div>
            </div>

            <div class="out">
                <div class="outBtn">
                    <i class="fa fa-times homeCloseBtn" ng-class="closeTreks" aria-hidden="true" ng-click="HomeTreks=''; closeTreks=''" uib-tooltip='Close'></i>
                </div>
                <div id="sid-treks" class="section" data-link="http://youtube.com" ng-class="HomeTreks" ng-click="HomeTreks='TrekClass';closeTreks='closeBtn'">
                    <div class="section-header">
                        <p> Treks </p>
                    </div>
                </div>
            </div>

            <div class="out">
                <div class="outBtn">
                    <i class="fa fa-times homeCloseBtn" ng-class="closeBlogs" aria-hidden="true" ng-click="HomeBlogs=''; closeBlogs=''" uib-tooltip='Close'></i>
                </div>
                <div id="sid-blogs" class="section" data-link="http://news.ycombinator.com" ng-class="HomeBlogs" ng-click="HomeBlogs='BlogClass';closeBlogs='closeBtn'">
                    <div class="section-header">
                        <p> Blogs </p>
                    </div>
                </div>
            </div>

            <div class="out">
                <div class="outBtn">
                    <i class="fa fa-times GearCloseBtn" ng-class="closeGears" aria-hidden="true" ng-click="HomeGears=''; closeGears=''" uib-tooltip='Close'></i>
                </div>
                <div id="sid-gears" class="section" data-link="http://facebook.github.io/react/" ng-class="HomeGears" ng-click="HomeGears='GearClass';closeGears='closeGearBtn'">
                    <div class="section-header">
                        <p> Gears </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
