<div class="container deleteProfModal">
    <div class="modal-header mHeader">
        <h1 class="modal-title mTitle">Hold up, now!{{modal.deleteProfile}}</h1>
        <img src="http://www.free-icons-download.net/images/warning-icon-2735.png" />
    </div>
    <div class="modal-body">
        <h2>Are you <em>sure</em> you want to delete? It's permanent.</h2>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="modal.ok()">Yes, I'm aware. Delete</button>
        <button class="btn btn-warning" ng-click="modal.cancel()">No! Cancel</button>
    </div>
</div>