<div class="container">
    <div class="modal-header">
        <h1 class="modal-title mTitle">Trek Club</h1>
        <!--<img src="http://www.free-icons-download.net/images/warning-icon-2735.png" />-->
    </div>
    <div class="modal-body">
        <h2>Forgot Password</h2>

        <!--<div class="col-md-8 col-md-offset-2">-->
            <form ng-submit="controller.ChangePassword()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" placeholder="joe@example.com" class="form-control" ng-model="controller.password.email" />
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" placeholder="********" class="form-control" ng-model="controller.password.password"/>
                </div>
                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" placeholder="********" class="form-control" ng-model="controller.password.confirmPassword"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Reset Password" class="btn btn-primary" />
                </div>
            </form>
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="controller.OK()">Cancel</button>
    </div>
</div>