<div class="fluid-container">
    <div class="row">
        <div class="login-page">
            <div class="login-title-text">
                <h3>Signup to Trek Club</h3>
                <h5>Go Green!</h5>
            </div>
            <div class="signup-form-container">
                <div class="signin-buttons">
                    <div class="major-provider google-login">
                        <div class="icon-container">
                            <i class="fa fa-google icon"></i>
                        </div>
                        <div class="text">
                            <span>Google</span>
                        </div>
                    </div>
                    <div class="major-provider facebook-login">
                        <div class="icon-container">
                            <i class="fa fa-facebook icon"></i>
                        </div>
                        <div class="text">
                            <span>Facebook</span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="or-container">
                    <hr class="or-hr" style="border: 1px solid #ccc;" />
                    <div id="or">OR</div>
                </div>
                <form id="login-form" ng-submit="controller.register()">
                    <label for="displayName">Trail Name</label><br />
                    <input type="text" name="displayName" id="displayName" placeholder="John Doe" ng-model="controller.registerUser.displayName" /><br />
                    <label for="email">Email</label><br />
                    <input type="email" name="email" id="email" placeholder="you@example.org" ng-model="controller.registerUser.email" /><br />
                    <label for="password">Password</label><br />
                    <input type="password" id="password" name="password" placeholder="********" ng-model="controller.registerUser.password" /><br />
                    <label for="reenterPassword">Reenter Password</label><br />
                    <input type="password" id="reenterPassword" name="reenterPassword" placeholder="********" ng-model="controller.registerUser.confirmPassword" /><br />
                    <input type="submit" id="submit-button" name="submit-button" value="Register" class="btn login-button" />
                </form>
            </div>
        </div>
    </div>
</div>

