
<br />
<br />
<br />
<hr />

<div class="col-tablet-3 col-sm-4 col-md-8 browseSearch">
    <button><a href="/changes/">Add A Trail</a></button>
    <button><a href="/blog/add">Add a Blog</a></button>

    <div class="row">
        <table class="table">
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>UserName</th>
            </tr>
            <tr ng-repeat="profile in controller.profiles">
                <td>{{profile.firstName}}</td>
                <td>{{profile.lastName}}</td>
                <td>{{profile.userName}}</td>
            </tr>
        </table>
    </div>
</div>