#home-title {
    float: left;
    color: white;
    font-size: 40px;
    font-family: 'Francois One', sans-serif;
    padding-left: 7px;
    color: #E8E8E8;
}
/*.Homepage{
    background-color:#181818;
}*/

.Homepage {
    background-image: url('../ngapp/homeimages/av0a0502.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#home-footer {
    background-image: url(http://www.cuzzsoft.com/wallbank/90-black-wood-wallpaper.jpg);
    background-position: inherit;
    background-size: cover;
    color: white;
    clear: both;
    text-align: center;
    padding: 12px;
}

#home-searchpic {
    /*background-image: url('../ngapp/homeimages/av0a0502.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    height: 400px;
}

/*#home-searchTool {
    padding-top: 15px;
    padding-left: 43px;
    margin:20px;
    background-color:white;
}*/

/*BEGINNING OF SEARCH BOX STYLING*/




input#box {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 7px #2d862d;
    padding: 9px 10px 9px 32px;
    width: 255px;
    height: 30px;
    opacity: .88;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    font-size: 25px;
    color: black;
}

    input[type=search]:focus {
        width: 300px;
        background-color: #fff;
        border-color: #2d862d;
        font-size: 25px;
        color: black;
        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
        box-shadow: 0 0 5px rgba(109,207,246,.5);
    }

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}
/*END OF SEARCH BOX STYLING*/

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


/*BEGINNING OF COLOR-IMAGE BOX LINKS*/
.Links {
    display: inline-block;
    height: 250px;
    width: 100%;
    background-color: #99aa1a;
    margin: -30px 4px 9px 4px;
    z-index: 99;
    opacity: .99;
   

}

#home-button1 {
    background-color: #1c96b0;
}

#home-buttonpic1 {
    background-image: url('../ngapp/homeimages/north-face-ad-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
}

#home-button2 {
    background-color: #CC6633;
}

#home-buttonpic2 {
    background-image: url('../ngapp/homeimages/new campfire.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
}

#home-button3 {
    background-color: #336666;
}

#home-buttonpic3 {
    background-image: url(http://images.huffingtonpost.com/2015-02-12-TotekeeFallsOregonTheOutbound.jpg);
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
}

#home-button4 {
    background-color: #993333;
}

#home-buttonpic4 {
    background-image: url('../ngapp/homeimages/e0a3229ca350edde0a1f7fa7e72e0bf7.jpg');
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.contain {
    display: block;
    height: 50px;
    /*background-color:#1c96b0;*/
    font-size: 30px;
    color: white;
    text-align: center;
}

#buttons {
    margin-top: 19px;
    margin-bottom: 1px;
    margin-left: 3px;
   
}

.bottomdiv {
    background-color:#333;
    height: 100px;
    width: 100%;
     background-size: cover;
}

#aboutus {
    border-bottom: 4px #fff;
    /*background-color: #333;*/
    font-size: 60px;
    color: #F8F8F8;
    margin-top: 40px;
    text-align: center;
    font-family: 'Lobster', cursive;
    /*padding-left: 10px;*/
    /*background-image: url('../images/aboutpagepics/portfolio_bg.jpg');*/
}

#bottomhome1 {
    width: 100%;
    background-image: url('../images/aboutpagepics/laughing.jpg');
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    /*background-color: #444;*/
    height: 450px;
}

#upperhome1 {
    width: 100%;
    background-color:#101010;
    /*background-image: url('../images/aboutpagepics/portfolio.jpg');*/
    background-repeat: no-repeat;
    border-top: solid 3px #336666;
    border-bottom:solid 3px #336666;
    
}

/*.home-info {
    background-color:#444;
    height:600px;
}*/

/*ENDING OF COLOR-IMAGE BOX LINKS*/

/*.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  border-bottom-style: solid;
  border-color: #383838;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #2d862d;
  color:#fff;
}

.nav a.active {
  background-color: #2d862d;
  color: #fff;
  cursor: default;
}*/

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}
