.angular-google-map-container {
    height: 500px;
    width: 700px;
    border: 1px solid black;
}

.view.ng-enter{
    transition: 1s linear all;
    opacity: 0;
}

.view.ng-enter-active{
    opacity: 1;
}

.container{
    width: 100%;
    padding: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.navbar{
    margin-bottom: 0;
}

.navbar-header{
    margin-right: 20px !important;
}

.navBar-link{
    background-color: transparent;
    color: white;
    font-size: 14px;
    padding: 23px 10px 22px 10px;
}

.navBar-link:focus, .navBar-link:hover{
    text-decoration: none;
}

.navBarMenu{
    padding-top: 15px;
    padding-bottom: 15px;
}

.navBarDropMenu{
    margin-top: 17px;
}

.row {
    margin-right: 0;
}