<!--<h1>Gatherings Page</h1>

<div class="col-md-8 col-md-offset-2">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Owner</th>
            <th>Time</th>
        </tr>
        <tr ng-repeat="gather in controller.gatherings">
            <td>{{gather.id}}</td>
            <td><a href="/gatheringDetails/{{gather.id}}">{{gather.name}}</a></td>
            <td>{{gather.ownerId}}</td>
            <td>{{gather.time | date: 'MMM dd @ h:mma'}}</td>
        </tr>
    </table>
</div>-->


<div class="col-md-12 gatherPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="col-md-6">
                    <div class="mobileHeader">
                        <div class="mobileSections">
                            <a href="#" class="mobileHeaderLinks btn btn-lg btn-info">Gatherings</a>
                        </div>
                        <div class="mobileSections">
                            <a href="https://weather.com/weather/tenday/l/Seattle+WA+USWA0395:1:US" class="mobileHeaderLinks btn btn-lg btn-info">Weather</a>
                        </div>
                        <div class="mobileSections">
                            <a href="http://discoverpass.wa.gov/" class="mobileHeaderLinks btn btn-lg btn-info">Useful Links</a>
                        </div>
                        <div class="mobileSections">
                            <a href="#" class="mobileHeaderLinks btn btn-lg btn-info">Other</a>
                        </div>
                    </div>
                </div>
                <div class="row"></div>

                <!--  SideBar  -->
                <div class="col-md-4 browseSideBar">

                    <h1 class="sidebarTitle">TrekClub</h1>

                    <!-- Meet Up Info -->
                    <div class="browseLegend">
                        <h2 class="browseSBtitles">Gatherings</h2>
                        <button class="browseSBbtns"><a href="#">Click Here</a></button>
                    </div>

                    <!-- Weather Link -->
                    <div class="browseLegend">
                        <h2 class="browseSBtitles">Local Weather</h2>
                        <button class="browseSBbtns"><a href="https://weather.com/weather/tenday/l/Seattle+WA+USWA0395:1:US">Click Here</a></button>
                    </div>

                    <!-- Parking Pass Link -->
                    <div class="browseLegend">
                        <h2 class="browseSBtitles">Need a Parking Pass</h2>
                        <button class="browseSBbtns"><a href="http://discoverpass.wa.gov/">Click Here</a></button>
                    </div>

                    <!-- Fishing/Hunting Licenses Link -->
                    <div class="browseLegend">
                        <h2 class="browseSBtitles">Fishing & Hunting Licenses</h2>
                        <button class="browseSBbtns"><a href="https://fishhunt.dfw.wa.gov/wdfw/licenses.html">Click Here</a></button>
                    </div>

                </div>




                <!--  Search Feature  -->
                <div class="col-tablet-3 col-sm-4 col-md-8 trekSearch">

                    <form class="form-horizontal trekSearch2" ng-submit="controller.trekSearch()">
                        <div class="row form-group">
                            <h1 id="searchTitleTrek">Find a Trek Near You</h1>
                        </div>
                        <hr />

                        <div class="form-group search1">
                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Trail Name</h3>
                                    <input type="text" class="form-control inputMMtrek" ng-model="controller.search.trailName" />
                                </div>
                                <div class="col-md-4">
                                    <h3>Trek Title</h3>
                                    <input type="text" class="form-control inputMMtrek" ng-model="controller.search.gatherName" />
                                </div>
                                <div class="col-md-4 ">
                                    <h3>Select Date Range</h3>
                                    <select class="form-control inputMM" ng-model="controller.search.time">
                                        <option value="">Any Date</option>
                                        <option value="7">Within Next 7 Days</option>
                                        <option value="14">Within Next 14 Days</option>
                                        <option value="30">Within Next 30 Days</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <input type="submit" class="btn searchBtnTrek" value="Search Treks" />
                        </div>
                    </form>
                </div>



                <!------------------------------------------------>


                <div class="col-md-8 blogs">
                    <div class="singleBlog container-fluid" ng-repeat="gather in controller.gatherings">
                        <div class="blogLeft">
                            <a href="/gatheringDetails/{{gather.id}}">
                                <h4 style="vertical-align:top" class="col-md-3 trekTitle">{{gather.name}}</h4>
                                
                                <label class="trekTime">{{gather.time | date:'MMM dd, h:mma'}}</label>
                            </a>
                            <div class="trekDescription">
                                <p>{{gather.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
