<div class="col-lg-12 gatherDetailPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <!--  Mobile Header  -->
                <div class="col-md-6">
                    <div class="mobileHeaderTrailsBrowse">
                        <div class="mobileSectionsTrailsBrowse">
                            <a href="#" class="mobileHeaderLinksTrailsBrowse btn btn-lg btn-info">Gatherings</a>
                        </div>
                        <div class="mobileSectionsTrailsBrowse">
                            <a href="https://weather.com/weather/tenday/l/Seattle+WA+USWA0395:1:US" class="mobileHeaderLinksTrailsBrowse btn btn-lg btn-info">Weather</a>
                        </div>
                        <div class="mobileSectionsTrailsBrowse">
                            <a href="http://discoverpass.wa.gov/" class="mobileHeaderLinksTrailsBrowse btn btn-lg btn-info">Parking Pass</a>
                        </div>
                        <div class="mobileSectionsTrailsBrowse">
                            <a href="#" class="mobileHeaderLinksTrailsBrowse btn btn-lg btn-info">Fishing/Hunting</a>
                        </div>
                    </div>
                </div>
                <div class="row"></div>




                <!--  SideBar  -->
                <div class="col-md-4 browseSideBar">

                    <h1 class="sidebarTitle">TrekClub</h1>

                    <!-- Meet Up Info -->
                    <div class="browseLegend">
                        <h2 class="browseSBtitles">Gatherings</h2>
                        <button class="browseSBbtns"><a href="#">Click Here</a></button>
                    </div>

                    <!-- Weather Link -->
                    <div class="browseLegend">
                        <h2 class="browseSBtitles">Local Weather</h2>
                        <button class="browseSBbtns"><a href="https://weather.com/weather/tenday/l/Seattle+WA+USWA0395:1:US">Click Here</a></button>
                    </div>

                    <!-- Parking Pass Link -->
                    <div class="browseLegend">
                        <h2 class="browseSBtitles">Need a Parking Pass</h2>
                        <button class="browseSBbtns"><a href="http://discoverpass.wa.gov/">Click Here</a></button>
                    </div>

                    <!-- Fishing/Hunting Licenses Link -->
                    <div class="browseLegend">
                        <h2 class="browseSBtitles">Fishing & Hunting Licenses</h2>
                        <button class="browseSBbtns"><a href="https://fishhunt.dfw.wa.gov/wdfw/licenses.html">Click Here</a></button>
                    </div>

                </div>



                <!------------------------------------->
                <div class="col-md-8 treks">
                    <div class="trekDetail container-fluid">
                        <div class="trekLeft">
                            <!--<div class="form-group">
                                <label>ID</label>
                                <label>{{controller.gather.id}}</label>
                            </div>-->
                            <div class="form-group" align="center">
                                <!--<label>Name</label>-->
                                <h1 class="trekTitle">{{controller.gather.name}}</h1>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label>Trail Name</label>
                                <label><a href="/trailDetail/{{controller.gather.trailId}}">{{controller.gather.trailName}}</a></label>
                            </div>
                            <div class="form-group trekDtlImg">
                                <a href="/trailDetail/{{controller.gather.trailId}}"><img src="{{controller.gather.image}}" width="280" alt="" class="imagesBrowse img-responsive" /></a>
                            </div>
                            <div class="form-group" ng-show="controller.IsLoggedIn() != null && controller.userInGather == false">
                                <label><a ng-click="controller.AddToGathering()">Add self to gathering</a></label>
                            </div>
                            <div class="form-group" ng-show="controller.userInGather == true">
                                <label>You are already part of this Gathering - </label>
                                <label><a ng-click="controller.RemoveFromGathering()">Remove self from Gathering</a></label>
                            </div>
                            <div class="form-group">
                                <label>Time: </label>
                                <label>{{controller.gather.time | date: 'MMM dd @ h:mma'}}</label>
                            </div>
                            <div class="form-group">
                                <label>Owner: </label>
                                <label>{{controller.gather.ownerId}}</label>
                            </div>
                            <div class="form-group">
                                <label>Description: </label>
                                <label>{{controller.gather.description}}</label>
                            </div>
                            <h3 class="trekTitle">RSVP List</h3>
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Display Name</th>
                                    <th>UserId</th>
                                </tr>
                                <tr ng-repeat="user in controller.gather.users">
                                    <td>{{user.firstName}} {{user.lastName}}</td>
                                    <td>{{user.displayName}}</td>
                                    <td>{{user.userId}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                        <!----------------------------------------------------->



                    </div>
                </div>
            </div>
</div>

